<html>

	<head>

		<title>IBM</title>

	</head>

	<body>

		<h1> Welcome to International Bank of Money</h1>
			<table style="width:100%">
				<tr>
					<td>
						<form>
							<label for="name">Enter $ you want to deposit:</label><br>
							<input type="text" id="email" name="email"><br><br>
  							<input type="submit" value="Deposit">
						</form>
					</td>

				</tr>
			</table>


	</body>
</html>
